.wrapper{
    padding: 30px 4px;
    display: flex;
    flex-direction: column;
    gap:30px;
    height: 100%;
    width: 100%;
    max-width: var(--constructor--blocks--width);
    background: var(--block--bcg);
    overflow: auto;

}





